In [1]:
m=1
n=10
while m<=10:
    print(n,'x',m,'=',n*m)
    m=m+1

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [3]:
n=10
m=10
while m<=10:
    print(n,'x',m,'=',n*m)
    m=m+1

10 x 10 = 100

In [4]:
numbers=[1,3,5,7,9,11]
for n in numbers:
    if n<9:
        print(n)

1
3
5
7

In [9]:
#Function
def my_pet(name): #parameter
    return name  #output

In [12]:
#calling the function
t=my_pet("tiger")
t

'tiger'

In [7]:
my_pet("tom")

'tom'

In [10]:
#Function
def country(): #parameter
    print("BD")
    print("Bangla")
    print("CAs")

In [11]:
country()

BD
Bangla
CAs

In [13]:
c=country()

BD
Bangla
CAs

In [14]:
c

In [15]:
def my_pet(name,age,color): #parameter
    return name,age,color  #output

In [17]:
name,age,color=my_pet('a',18,'blue')

In [18]:
age

18

In [19]:
tup=my_pet('a',78,'white')
tup

('a', 78, 'white')

In [1]:
tup

NameError: name 'tup' is not defined

In [2]:
my_pet('a',18)

NameError: name 'my_pet' is not defined

In [3]:
def numbers(n):
    n=12 #local
    return n

n=14 #global
print(n)

14

In [4]:
def numbers(n):
    n=12 #local
    return n

n=14 #global
print(numbers(16))

12

In [6]:
def numbers(x):
    x=12 #local
    return x

 #globaly x defined korahoyni 
print(x)

NameError: name 'x' is not defined

In [8]:
def numbers(i):
    i=12 #local
    return i

for i in range(5):
    print(i)

0
1
2
3
4

In [9]:
def numbers(i):
    i+=1 #i=i+1
    return 1

i=14 #global
print(i)

14

In [11]:
def numbers(i):
    i+=1 #i=i+1
    return 1

i=10 #global
print(i)
print(numbers(20))

10
1

In [13]:
#Lamda Function
def add(a,b):
    return a+b
sum=add(10,15)
sum

25

In [14]:
sum=lambda a,b:a+b
sum

In [16]:
lambda_add=lambda a,b:a+b
lambda_add

In [17]:
lambda_add(10,15)

25

In [19]:
#Map-->>built in function
list=[1,2,3,4,5,6]
square=lambda n:n*n #ekhne object ashtese value na
map(square,list)

In [22]:
#Map-->>built in function
list=[1,2,3,4,5,6]
square=lambda n:n*n
new=map(square,list) #set er jaygay list dewa jay but kaj krse na
print(new)
print(set(new))

<map object at 0x0000024F0E2E8640>
{1, 4, 36, 9, 16, 25}

In [23]:
for i in list:
    print(i*i)

1
4
9
16
25
36